body {
    font-family: 'JetBrains Mono', 'Cascadia Mono', monospace;
}

.list-item {
    font-size: 16px;
}

.list-item__inner {
    display: flex;
    align-items: center;
}

.list-item__items {
    padding-left: 15px;
    display: none;
}

.list-item__arrow {
    height: 20px;
    width: 15px;
    padding: 5px;
    cursor: pointer;
}

.list-item__folder {
    width: 30px;
}

.list-item_open>.list-item__items {
    display: block;
}

.list-item_open>.list-item__inner .list-item__arrow {
    transform: rotate(180deg);
}