html {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.par {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.head1 {
    font-size: 64px;
    color: #1F3F68;
}

.head2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.head3 {
    font-size: 36px;
    text-align: center;
}

.head4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.input-shared {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
    background-image: url(../img/tile.png);
}

.button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.button-gradient {
    background: linear-gradient(45deg, #4c74e6, #8c54e9);
    border: none;
    padding: 5px 10px;
}

.menu {
    list-style: none;
    background: linear-gradient(180deg, #ffffff, #3c8182);
}

.menu li {
    display: inline-block;
    padding: 10px 20px;
    border-right: 2px solid #ffffff;
    border-radius: 18px;
    box-shadow: 8px 0px 4px -5px black
}

.menu li a {
    color: #000000;
    text-decoration: none;
}