.main__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-color: deeppink;
    border-style: dashed;
    border-width: 2px;
    padding: 20px;
}

.add__description {
    width: 100%;
    font-size: 20px;
    border-style: dashed;
}

.add__button {
    font-size: 20px;
    background-color: transparent;
    border-style: dashed;
}

.todos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

    border-style: dashed;
    border-width: 2px;
}

.todo {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 1fr;
    justify-content: stretch;
    gap: 20px;
}